@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (User.Identity.IsAuthenticated)
    {
        <h1>Welcome @User.Identity.Name <a asp-area="" asp-controller="Account" asp-action="SignOut">Sign Out</a></h1>
    }
    else
    {
        <h1>You are not logged in.</h1>
        <a asp-area="" asp-controller="Account" asp-action="SignIn">Facebook Login</a>
    }
</div>
